/* コース登録とコース編集の共通CSS */
.cource-area {
  display: flex;
  align-items: center;
  height: 100vh;
  font-size: 1.6rem;
}

.cource-main {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555454;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0rem 1.6rem 5.4rem #89BDBD80;
  border-radius: 1rem;
  width: 60%;
  height: 85%;
  margin: 0 auto;
  overflow: scroll;
}

.main-cource {
  width: 80%;
  opacity: 1;
  padding: 1.5rem 0;
  height: 95%;
  margin: 0 auto;
}

.main-cource label{
  display: block;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 5px;
  font-size: 2rem;
}

.main-cource__name,
.main-cource__period,
.main-cource__description,
.main-cource-term__table {
  box-sizing:border-box;
  width: 100%;
  height: 6.5rem;
}

select {
  display: block;
}