html {
  font-size: 62.5%;
}

.crm__input {
  height: 6.5rem;
  padding-left: 1rem;
  border: 0.4rem solid #f2f2f2;
  border-radius: 1.2rem;
  opacity: 1;
  outline: none;
  font-family: Meiryo;
  font-size: 1.8rem;
  color: #000000;
}

.crm-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #555454;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0rem 1.6rem 5.4rem #89bdbd80;
  border-radius: 1rem;
  opacity: 1;
  width: 60%;
  height: 85%;
  margin: 0 auto;
}

.crm-modal__button {
  height: 7.2rem;
  background: transparent linear-gradient(270deg, #41de9d 0%, #2bb8f8 100%);
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 3.6rem;
  opacity: 1;
  font: normal normal normal 2.8rem/4.2rem Meiryo;
  text-align: center;
  color: #ffffff;
}

.crm-modal__button:disabled,
.crm-modal__button:disabled:hover {
  background: #d3d5d6;
  cursor: default;
}

.crm-modal__button:hover {
  cursor: pointer;
  transition: 0.5s;
  background: transparent linear-gradient(270deg, #2bb8f8 0%, #41de9d 100%);
}

.crm__error {
  color: red;
  font-size: 1.4rem;
}
