html {
  font-size: 62.5%;
}

.crm__input {
  height: 6.5rem;
  padding-left: 1rem;
  border: 0.4rem solid #f2f2f2;
  border-radius: 1.2rem;
  opacity: 1;
  outline: none;
  font-family: Meiryo;
  font-size: 1.8rem;
  color: #000000;
}

.crm-modal__button {
  height: 7.2rem;
  background: transparent linear-gradient(270deg, #41de9d 0%, #2bb8f8 100%);
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 3.6rem;
  opacity: 1;
  font: normal normal normal 2.8rem/4.2rem Meiryo;
  text-align: center;
  color: #ffffff;
}

.crm-modal__button:hover {
  cursor: pointer;
  transition: 0.5s;
  background: transparent linear-gradient(270deg, #2bb8f8 0%, #41de9d 100%);
}
