.register {
  display: flex;
  align-items: center;
  height: 100vh;
}

.register-modal__title {
  margin-bottom: 8.6rem;
  font: normal bold 3.2rem/4.8rem Meiryo;
  letter-spacing: 0rem;
  font-size: 3.2rem;
  color: #707070;
  opacity: 1;
}
.register-modal__form {
  width: 60%;
  margin-bottom: 2.8rem;
}
.register-modal__input {
  width: 100%;
}
.register-modal__button {
  width: 20rem;
}
.register-modal__label {
  text-align: left;
  font: normal normal normal 2rem/3rem Meiryo;
  letter-spacing: 0rem;
  font-size: 2rem;
  color: #707070;
  opacity: 1;
}

.register-modal__select {
  appearance: none;
  background-image: url("@/assets/images/select_arrow.svg");
  background-position: right 2.2rem center;
  background-repeat: no-repeat;
  background-size: 3.7rem 2.9rem;
}
