.register {
  display: flex;
  align-items: center;
  height: 100vh;
}

.register-modal__form {
  width: 60%;
  margin-bottom: 2.8rem;
}
.register-modal__input {
  width: 100%;
}
.register-modal__button {
  width: 20rem;
}

.register-modal__select {
  appearance: none;
  background-image: url("@/assets/images/select_arrow.svg");
  background-position: right 2.2rem center;
  background-repeat: no-repeat;
  background-size: 3.7rem 2.9rem;
}
